.logo-mobile {
    width: 160px;
    height: 98px;
    display: none;
}
.section__mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    :root {
        --fontSize-title: 3rem;
        --fontSize-head: 2rem;
        --fontSize-desc: 1.3rem;
    }
    .logo,
    .section__tablet,
    .contact,
    .section__head {
        display: none;
    }
    .hero {
        min-width: 100vw;
    }
    .graduation {
        min-width: 100vw;
    }
    .content__text__description {
        display: none;
    }
    .logo-mobile,
    .section__mobile {
        display: block;
    }
    .section__details {
        width: 100vw;
        margin: 20px auto 0;
        overflow: scroll;
    }
    
    .logo-mobile {
        width: 88px;
        height: 77px;
        margin: 1.6rem auto 0;
    }
    .content {
        font-size: calc(var(--fontSize-desc) + 0.2rem);
    }
    .section__details__footer {
        margin-top: 0;
        padding: 20px 15px 0;
    }
    .section__details__content {
        flex-direction: column;
        gap: 15px 0;
    }
    #qr {
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 250px;
    }
    /* text */
    /* .contact,
    .text-copyright,
    .content__text__heading,
    .content__text__heading .text-title,
    .content__text__heading .text-university,
    .content__text__heading .text-year,
    .content__text__description {
        text-align: center;
    } */
    .content__text__heading {
        font-weight: bold;
        line-height: 2.7rem;
    }
    .content__text__heading .text-title {
        /* font-size: 15px; */
        line-height:3rem;
    }

    .search input::placeholder{
        font-size: 1rem;
    }
    .error-message{
        font-size: 1.2rem !important;
    }

    .section__result__heading,
    .section__subheading {
        /* font-size: 18px; */
        text-align: center;
    }
    
    .search {
        flex-direction: column;
        align-items: center;
        width: calc(100% - 2px - 20px);
        height: max-content;
        gap: 10px 0;
    }
    .search input {
        width: 100%;
    }
    .search button {
        width: max-content;
        height: max-content;
        padding: 2px 15px;
    }
    .text-copyright {
        font-size: 12px;
    }

    
}
@media screen and (max-width: 400px) {
    :root {
        --fontSize-title: 2.5rem;
        --fontSize-head: 1.8rem;
        --fontSize-desc: 1.2rem;
    }
 
    .hero {
        min-width: 100vw;
    }
    .graduation {
        min-width: 100vw;
        height: 100vh;
    }
    .section {
        width: calc(100% - 10px);
    }
    
    .section__footer {
        font-size: calc(var(--fontSize-desc) + 0);
    }
    .section__subheading {
        font-size: calc(var(--fontSize-head) - 0rem);
        line-height: 1rem;
    }

    .text-copyright {
        /* font-size: 10px; */
        font-size: calc(var(--fontSize-desc) - 0.3rem);
        
    }

    .text-year {
        font-size: 1.6rem !important;
    }
    .footer__text {
        text-align: justify;
        text-justify: inter-word;
    }
    
}


@media screen and (max-width: 281px) {
    .section {
        width: 100vw;
        margin: 20px auto 0;
        overflow: scroll;
    }

    .section__subheading {
        font-size: calc(var(--fontSize-head) - 0.4rem) ;    
    }
}