*{
  margin: 0px;
  padding: auto;
}
body{
  background: #203864;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.extra-seat {
  margin: 4px; 
  width: 40px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 0 3px rgb(65, 64, 64);
  text-align: center;
  line-height: 35px;
}
.seat {
  height: 30px;
  width: 40px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 2px;
  float: left;
}
.seat-vip {
  height: 30px;
  width: 635px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 2px;
  float: left;
}
.seat-vip-enable{
  background: rgb(29, 142, 255);
  border: rgb(16, 44, 255) solid;
  border-width: 0px 5px 5px 5px;
}
.disable{
  background: rgb(207, 205, 205);
  border: rgb(75, 75, 75) solid;
}
.enable {
  background: rgb(255, 170, 59);
  border: rgb(255, 100, 16) solid;
}
.sodotret{
  display: flex; 
  flex-direction: column;
  background-color: white;
  min-width: 1320px;
  padding: 20px;
  border-radius: 20px;
}
.row{
  display: flex; 
  flex-direction: row;
}
.just-center{
  display: flex;
  justify-content: center;
}
.theatre-enable{
  background: rgb(92, 92, 92);
  border: rgb(30, 30, 30) solid;
  border-width: 5px 0px 0px 0px;
  color: white;
}
.title{
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  font-style: italic;
}
.opacity{
  width: 50px;
}
.container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 50px 0px 0px 0px;
  flex-direction: column;
}
.copyright{
  text-align: center;
  padding: 50px 0px 20px 0px;
  color: white;
  font-size: 14px;
}
.title-big{
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 30px;
}
.sw-1{
  width: 650px;
}
.sodotretthunho{
  display: none;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.img{
  width: 100%;
  border-radius: 10px;
}
@media only screen and (max-width: 1023px){
  .sodotret{
    display: none;
  }
  .sodotretthunho{
    display: flex;
  }
  .title-big{
    padding: 5px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px){
  .sodotretthunho{
    width: 96%;
  }
  .img{
    border-radius: 5px;
  }
  footer{
    position: absolute;
    justify-content: center;
    bottom: 0px;
  }
}